{%- liquid
  assign is_banner = banner | default: false
  assign template_name = template | replace: '.', ' ' | truncatewords: 2, '' | handle
  assign homepage_logo_banner_active = false

  unless is_banner
    if template_name == 'index' and section.settings.main_menu_alignment == 'center-top'
      for banner_block in section.blocks
        if banner_block.type == 'logo' and banner_block.settings.homepage_logo_banner
          assign homepage_logo_banner_active = true
        endif
      endfor
    endif
  endunless
-%}

{%- for block in section.blocks -%}
  {%- if block.type == 'logo' -%}
    {%- liquid
      if template_name == 'index'
        assign logo_image = block.settings.logo
        assign logo_image_mobile = block.settings.logo_mobile
        assign logo_inverted = block.settings['logo-inverted']
        assign logo_inverted_mobile = block.settings.logo_inverted_mobile
        assign desktop_width = block.settings.desktop_logo_width
        assign mobile_width = block.settings.mobile_logo_width

        if logo_image_mobile == blank
          assign logo_image_mobile = logo_image
        endif

        if logo_inverted_mobile == blank
          assign logo_inverted_mobile = logo_inverted
        endif
      else
        assign logo_image = block.settings.logo_other
        assign logo_inverted = block.settings.logo_inverted_other
        assign desktop_width = block.settings.desktop_logo_width_other
        assign mobile_width = block.settings.mobile_logo_width_other

        if logo_image == blank
          assign logo_image = block.settings.logo
          assign desktop_width = block.settings.desktop_logo_width
          assign mobile_width = block.settings.mobile_logo_width
        endif

        if logo_inverted == blank
          assign logo_inverted = block.settings['logo-inverted']
        endif

        assign logo_image_mobile = logo_image
        assign logo_inverted_mobile = logo_inverted
      endif

      if logo_image != blank
        assign has_logo = true

        if is_banner
          assign header_logo_size = '2400x'
          assign header_logo_size_mobile = '1200x'
        else
          assign header_logo_size = desktop_width | append: 'x'
          assign header_logo_size_mobile = mobile_width | append: 'x'
        endif
      endif
    -%}

    {%- if logo_image != blank -%}
      {%- if is_banner and template_name == 'index' -%}
        <h1
          class="site-header__logo site-header__logo--banner"
          itemscope
          itemtype="http://schema.org/Organization"
          {{ block.shopify_attributes }}
        >
          <span class="visually-hidden">{{ shop.name }}</span>
          <a
            href="{{ routes.root_url }}"
            itemprop="url"
            class="site-header__logo-link site-header__logo-link--banner{% if logo_inverted %} logo--has-inverted{% endif %}"
          >
            <img
              class="small--hide site-header__logo-image--banner"
              src="{{ logo_image | img_url: header_logo_size }}"
              srcset="{{ logo_image | img_url: header_logo_size }} 1x, {{ logo_image | img_url: header_logo_size, scale: 2 }} 2x"
              alt="{{ logo_image.alt | default: shop.name }}"
              itemprop="logo"
            >
            <img
              class="medium-up--hide site-header__logo-image--banner"
              src="{{ logo_image_mobile | img_url: header_logo_size_mobile }}"
              srcset="{{ logo_image_mobile | img_url: header_logo_size_mobile }} 1x, {{ logo_image_mobile | img_url: header_logo_size_mobile, scale: 2 }} 2x"
              alt="{{ logo_image_mobile.alt | default: shop.name }}"
            >
          </a>
          {%- if logo_inverted -%}
            <a
              href="{{ routes.root_url }}"
              itemprop="url"
              class="site-header__logo-link site-header__logo-link--banner logo--inverted"
            >
              <img
                class="small--hide site-header__logo-image--banner"
                src="{{ logo_inverted | img_url: header_logo_size }}"
                srcset="{{ logo_inverted | img_url: header_logo_size }} 1x, {{ logo_inverted | img_url: header_logo_size, scale: 2 }} 2x"
                alt="{{ logo_inverted.alt | default: shop.name }}"
                itemprop="logo"
              >
              <img
                class="medium-up--hide site-header__logo-image--banner"
                src="{{ logo_inverted_mobile | img_url: header_logo_size_mobile }}"
                srcset="{{ logo_inverted_mobile | img_url: header_logo_size_mobile }} 1x, {{ logo_inverted_mobile | img_url: header_logo_size_mobile, scale: 2 }} 2x"
                alt="{{ logo_inverted_mobile.alt | default: shop.name }}"
              >
            </a>
          {%- endif -%}
        </h1>
      {%- elsif homepage_logo_banner_active == false -%}
        {%- style -%}
          .header-item--logo,
          .header-layout--left-center .header-item--logo,
          .header-layout--left-center .header-item--icons {
            -webkit-box-flex: 0 1 {{ mobile_width }}px;
            -ms-flex: 0 1 {{ mobile_width }}px;
            flex: 0 1 {{ mobile_width }}px;
          }

          @media only screen and (min-width: 769px) {
            .header-item--logo,
            .header-layout--left-center .header-item--logo,
            .header-layout--left-center .header-item--icons {
              -webkit-box-flex: 0 0 {{ desktop_width }}px;
              -ms-flex: 0 0 {{ desktop_width }}px;
              flex: 0 0 {{ desktop_width }}px;
            }
          }

          .header-layout--center-top .header-item--logo {
            -webkit-box-flex: 1 1 100%;
            -ms-flex: 1 1 100%;
            flex: 1 1 100%;
            max-width: 100%;
          }

          @media only screen and (min-width: 769px) {
            .header-layout--center-top .header-item--logo {
              -webkit-box-flex: 1 1 100%;
              -ms-flex: 1 1 100%;
              flex: 1 1 100%;
            }
          }

          .site-header__logo a {
            max-width: {{ mobile_width }}px;
          }
          .is-light .site-header__logo .logo--inverted {
            max-width: {{ mobile_width }}px;
          }
          @media only screen and (min-width: 769px) {
            .site-header__logo a {
              max-width: {{ desktop_width }}px;
            }

            .is-light .site-header__logo .logo--inverted {
              max-width: {{ desktop_width }}px;
            }
          }
        {%- endstyle -%}

        {%- if template == 'index' -%}
          <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization" {{ block.shopify_attributes }}>
            <span class="visually-hidden">{{ shop.name }}</span>
        {%- else -%}
          <div
            class="h1 site-header__logo"
            itemscope
            itemtype="http://schema.org/Organization"
            {{ block.shopify_attributes }}
          >
        {%- endif -%}

        {% comment %}
          .logo--has-inverted is only applied to the default logo if the inverted logo exists. That way it'll only be hidden on the slider when it has a backup.
        {% endcomment %}
        <a
          href="{{ routes.root_url }}"
          itemprop="url"
          class="site-header__logo-link{% if logo_inverted %} logo--has-inverted{% endif %}"
        >
          <img
            class="small--hide"
            src="{{ logo_image | img_url: header_logo_size }}"
            srcset="{{ logo_image | img_url: header_logo_size }} 1x, {{ logo_image | img_url: header_logo_size, scale: 2 }} 2x"
            alt="{{ logo_image.alt | default: shop.name }}"
            itemprop="logo"
          >
          <img
            class="medium-up--hide"
            src="{{ logo_image_mobile | img_url: header_logo_size_mobile }}"
            srcset="{{ logo_image_mobile | img_url: header_logo_size_mobile }} 1x, {{ logo_image_mobile | img_url: header_logo_size_mobile, scale: 2 }} 2x"
            alt="{{ logo_image_mobile.alt | default: shop.name }}"
          >
        </a>
        {%- if logo_inverted -%}
          <a
            href="{{ routes.root_url }}"
            itemprop="url"
            class="site-header__logo-link logo--inverted"
            style="padding-top: {{ 100 | divided_by: logo_inverted.aspect_ratio }}%"
          >
            <img
              class="small--hide"
              src="{{ logo_inverted | img_url: header_logo_size }}"
              srcset="{{ logo_inverted | img_url: header_logo_size }} 1x, {{ logo_inverted | img_url: header_logo_size, scale: 2 }} 2x"
              alt="{{ logo_inverted.alt | default: shop.name }}"
              itemprop="logo"
            >
            <img
              class="medium-up--hide"
              src="{{ logo_inverted_mobile | img_url: header_logo_size_mobile }}"
              srcset="{{ logo_inverted_mobile | img_url: header_logo_size_mobile }} 1x, {{ logo_inverted_mobile | img_url: header_logo_size_mobile, scale: 2 }} 2x"
              alt="{{ logo_inverted_mobile.alt | default: shop.name }}"
            >
          </a>
        {%- endif -%}

        {%- if template == 'index' -%}
          </h1>
        {%- else -%}
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- unless has_logo -%}
  {%- unless is_banner -%}
    {%- style -%}
      /* prevent text-only logo from breaking mobile nav */
      .header-item--logo {
        max-width: 60%;
      }
    {%- endstyle -%}
    {%- if template == 'index' -%}
      <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
    {%- else -%}
      <div class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
    {%- endif -%}
    <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-link">
      {{ shop.name }}
    </a>
    {%- if template == 'index' -%}
      </h1>
    {%- else -%}
      </div>
    {%- endif -%}
  {%- endunless -%}
{%- endunless -%}
