<section
  class="password-text-splash"
  data-section-id="{{ section.id }}"
  data-section-type="password-text-splash">
  <header class="password-text-splash__header">
    <div class="page-width">
      <div class="password-text-splash__logo">
        <h1 itemscope itemtype="http://schema.org/Organization" class="h2">
          {%- if section.settings.logo != blank -%}
            {%- assign header_logo_size = section.settings.desktop_logo_height | prepend: 'x' -%}
            {%- assign header_logo_size_mobile = section.settings.mobile_logo_height | prepend: 'x' -%}
            {%- style -%}
              .password-text-splash__logo h1 {
                height: {{ section.settings.mobile_logo_height }}px;
              }
              @media only screen and (min-width: 769px) {
                .password-text-splash__logo h1 {
                  height: {{ section.settings.desktop_logo_height }}px;
                }
              }
            {%- endstyle -%}
            <img
              class="small--hide"
              src="{{ section.settings.logo | img_url: header_logo_size }}"
              srcset="{{ section.settings.logo | img_url: header_logo_size }} 1x, {{ section.settings.logo | img_url: header_logo_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}"
              itemprop="logo">
            <img
              class="medium-up--hide"
              src="{{ section.settings.logo | img_url: header_logo_size_mobile }}"
              srcset="{{ section.settings.logo | img_url: header_logo_size_mobile }} 1x, {{ section.settings.logo | img_url: header_logo_size_mobile, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}">
          {%- else -%}
            <span>{{ shop.name }}</span>
          {%- endif -%}
        </h1>
      </div>
    </div>
  </header>
  <main class="password-text-splash__main">
    <div class="page-width">
      <div class="password-text-splash__main-content">
        {%- if section.settings.main_message != blank -%}
          <div class="password-text-splash__main-message">
            {{ section.settings.main_message }}
          </div>
        {%- endif -%}

        {%- if section.settings.show_attentive_signup != blank -%}
          <div class="password-text-splash__signup-form">
            <form class="mobile-number-form">

              {% unless section.settings.capture_message == blank %}
                <div class="mobile-number-form__heading">{{ section.settings.capture_message }}</div>
              {% endunless %}

              <div class="mobile-number-form__fieldset">
                <input class="mobile-number-form__input input-group-field" autocomplete="tel" pattern="(\+1)?\(?\d{3}\)?[ -]?\d{3}[ -]?\d{4}" type="tel"  placeholder="(XXX) XXX - XXXX" required>
                <button type="submit" class="mobile-number-form__submit">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 13" xml:space="preserve">
                    <path d="m6 6.6-.4-.4L1.1 1 0 1.9l4 4.7-4 4.7 1.1 1 4.5-5.2.4-.5z"/>
                  </svg>
                </button>
              </div>

              {% unless section.settings.disclaimer_message == blank %}
                <label class="mobile-number-form__disclaimer" for="mobile-number-form__disclaimer-checkbox">
                  <div class="mobile-number-form__disclaimer-checkbox-container">
                    <input type="checkbox" id="mobile-number-form__disclaimer-checkbox" class="mobile-number-form__disclaimer-checkbox" required>
                    <span class="mobile-number-form__disclaimer-checkbox-ui"></span>
                  </div>
                  <div class="mobile-number-form__disclaimer-message">
                    {{ section.settings.disclaimer_message }}
                  </div>
                </label>
              {% endunless %}
              <div class="mobile-number-form__response"></div>
            </form>
          </div>
        {%- endif -%}
      </div>
    </div>
  </main>
  <footer class="password-text-splash__footer">
    <div class="page-width">
      {%- if section.settings.footer_message != blank -%}
        <div class="password-text-splash__footer-message">
          {{ section.settings.footer_message }}
        </div>
      {%- endif -%}
    </div>
  </footer>
</section>

{% schema %}
{
  "name": "Password text splash",
  "class": "password-text-splash-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Main logo"
    },
    {
      "type": "range",
      "id": "desktop_logo_height",
      "label": "Desktop logo height",
      "default": 50,
      "min": 20,
      "max": 120,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mobile_logo_height",
      "label": "Mobile logo height",
      "default": 50,
      "min": 20,
      "max": 120,
      "unit": "px"
    },
    {
      "type": "richtext",
      "id": "main_message",
      "label": "Main message",
      "default": "<p>Website is currently closed.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_attentive_signup",
      "label": "Show Attentive signup",
      "default": true
    },
    {
      "type": "richtext",
      "id": "capture_message",
      "label": "Capture message",
      "default": "<p>Enter your mobile number to be the first to know about the next collection release.</p>"
    },
    {
      "type": "richtext",
      "id": "disclaimer_message",
      "label": "Disclaimer message",
      "default": "<p>Agree to <a href=\"http://attn.tv/4hunnid/terms.html\" target=\"blank\">Terms</a> & <a href=\"https://attnl.tv/p/g4j\" target=\"blank\">Privacy</a>.</p>"
    },
    {
      "type": "richtext",
      "id": "footer_message",
      "label": "Footer message",
      "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>"
    }
  ],
  "presets": [
    {
      "name": "Password text splash"
    }
  ]
}
{% endschema %}