<section
  class="password-image-splash"
  data-section-id="{{ section.id }}"
  data-section-type="password-image-splash">
  <header class="password-image-splash__header">
    <div class="page-width">
      <div class="password-image-splash__logo">
        <h1 itemscope itemtype="http://schema.org/Organization" class="h2">
          {%- if section.settings.logo != blank -%}
            {%- assign header_logo_size = section.settings.desktop_logo_height | prepend: 'x' -%}
            {%- assign header_logo_size_mobile = section.settings.mobile_logo_height | prepend: 'x' -%}
            {%- style -%}
              .password-image-splash__logo h1 {
                height: {{ section.settings.mobile_logo_height }}px;
              }
              @media only screen and (min-width: 769px) {
                .password-image-splash__logo h1 {
                  height: {{ section.settings.desktop_logo_height }}px;
                }
              }
            {%- endstyle -%}
            <img
              class="small--hide"
              src="{{ section.settings.logo | img_url: header_logo_size }}"
              srcset="{{ section.settings.logo | img_url: header_logo_size }} 1x, {{ section.settings.logo | img_url: header_logo_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}"
              itemprop="logo">
            <img
              class="medium-up--hide"
              src="{{ section.settings.logo | img_url: header_logo_size_mobile }}"
              srcset="{{ section.settings.logo | img_url: header_logo_size_mobile }} 1x, {{ section.settings.logo | img_url: header_logo_size_mobile, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}">
          {%- else -%}
            <span>{{ shop.name }}</span>
          {%- endif -%}
        </h1>
      </div>
    </div>
  </header>
  <main class="password-image-splash__main">
    <div class="page-width">
      <div class="password-image-splash__main-content">

        {%- if section.settings.main_image != blank -%}
          <div class="password-image-splash__main-image-block">
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.main_image.aspect_ratio }}%;">
              {%- assign img_url = section.settings.main_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="password-image-splash__main-image lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 750, 900, 1080]"
                data-aspectratio="{{ section.settings.main_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ section.settings.main_image.alt }}"
                role="presentation">
            </div>
          </div>
        {%- endif -%}

        <div class="password-image-splash__main-text">
          {%- if section.settings.main_message != blank -%}
            <div class="password-image-splash__main-message">
              {{ section.settings.main_message }}
            </div>
          {%- endif -%}

          {%- if section.settings.countdown != blank -%}
            <div class="password-image-splash__main-countdown" data-countdown="{{ section.settings.countdown }}">Counting Down...</div>
          {%- endif -%}
        </div>

      </div>
    </div>
  </main>
  <footer class="password-image-splash__footer">
    <div class="page-width">
      {%- if section.settings.show_attentive_signup != blank -%}
        <div class="password-image-splash__signup-form">
          <form class="mobile-number-form">

            {% unless section.settings.capture_message == blank %}
              <div class="mobile-number-form__heading">{{ section.settings.capture_message }}</div>
            {% endunless %}

            <div class="mobile-number-form__fieldset">
              <input class="mobile-number-form__input input-group-field" autocomplete="tel" pattern="(\+1)?\(?\d{3}\)?[ -]?\d{3}[ -]?\d{4}" type="tel"  placeholder="(XXX) XXX - XXXX" required>
              <button type="submit" class="mobile-number-form__submit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 13" xml:space="preserve">
                  <path d="m6 6.6-.4-.4L1.1 1 0 1.9l4 4.7-4 4.7 1.1 1 4.5-5.2.4-.5z"/>
                </svg>
              </button>
            </div>

            {% unless section.settings.disclaimer_message == blank %}
              <label class="mobile-number-form__disclaimer" for="mobile-number-form__disclaimer-checkbox">
                <div class="mobile-number-form__disclaimer-checkbox-container">
                  <input type="checkbox" id="mobile-number-form__disclaimer-checkbox" class="mobile-number-form__disclaimer-checkbox" required>
                  <span class="mobile-number-form__disclaimer-checkbox-ui"></span>
                </div>
                <div class="mobile-number-form__disclaimer-message">
                  {{ section.settings.disclaimer_message }}
                </div>
              </label>
            {% endunless %}
            <div class="mobile-number-form__response-message"></div>
          </form>
        </div>
      {%- endif -%}
    </div>
  </footer>
</section>

{% schema %}
{
  "name": "Password image splash",
  "class": "password-image-splash-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Main logo"
    },
    {
      "type": "range",
      "id": "desktop_logo_height",
      "label": "Desktop logo height",
      "default": 50,
      "min": 20,
      "max": 120,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mobile_logo_height",
      "label": "Mobile logo height",
      "default": 50,
      "min": 20,
      "max": 120,
      "unit": "px"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main image"
    },
    {
      "type": "richtext",
      "id": "main_message",
      "label": "Main message",
      "default": "<p>Season One</p>"
    },
    {
      "type": "text",
      "id": "countdown",
      "label": "Countdown",
      "info": "Format: YYYY-MM-DD HH:MM (24-hour time)"
    },
    {
      "type": "checkbox",
      "id": "show_attentive_signup",
      "label": "Show Attentive signup",
      "default": true
    },
    {
      "type": "richtext",
      "id": "capture_message",
      "label": "Capture message",
      "default": "<p>Enter your mobile number to be the first to know about the next collection release.</p>"
    },
    {
      "type": "richtext",
      "id": "disclaimer_message",
      "label": "Disclaimer message",
      "default": "<p>Agree to <a href=\"http://attn.tv/4hunnid/terms.html\" target=\"blank\">Terms</a> & <a href=\"https://attnl.tv/p/g4j\" target=\"blank\">Privacy</a>.</p>"
    }
  ],
  "presets": [
    {
      "name": "Password image splash"
    }
  ]
}
{% endschema %}